<section ng-controller="GoodsEditController" ng-init="findOne()">
  <div class="page-header">
    <h3>{{title}}</h3>
  </div>
  <div class="col-md-8">
    <form name="articleForm" class="form-horizontal" ng-submit="update(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">{{t.NAME}} *</label>
          <input name="name"
                 type="text"
                 ng-model="good.name"
                 id="name"
                 class="form-control"
                 placeholder="{{t.NAME}}"
                 required>
          <div ng-messages="articleForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.NAME}} {{t.REQUIRED}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="details">{{t.DESC}}</label>
          <textarea name="content"
                    ng-model="good.details"
                    id="details"
                    class="form-control"
                    cols="30" rows="10"
                    placeholder="{{t.DESC}}">
          </textarea>
        </div>
        <div class="form-group" show-errors>
          <label for="price">{{t.PRICE}} *</label>
          <input name="price"
                 type="number"
                 step="0.01"
                 min="0.01"
                 ng-model="good.price"
                 id="price"
                 class="form-control"
                 placeholder="{{t.PRICE}}"
                 required>
          <div ng-messages="articleForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.PRICE}} {{t>REQUIRED}}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="count">{{t.VOLUME}} *</label>
          <input name="count"
                 type="number"
                 ng-model="good.count"
                 id="count"
                 class="form-control"
                 placeholder="{{t.VOLUME}}"
                 required>
          <div ng-messages="articleForm.count.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.VOLUME}} {{t.REQUIRED}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="type">{{t.TYPE}}</label>
          <input name="type"
                 type="text"
                 ng-model="good.type"
                 id="type"
                 class="form-control"
                 placeholder="{{t.TYPE}}">
          <div class="form-group">
            <input type="submit" class="btn btn-default save-btn pull-right" value="{{t.SAVE}}">
            <input type="button" class="btn btn-default save-btn pull-right" ng-click="cancel()" value="{{t.CANCEL}}">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <div ng-repeat="order in orders" class="list-group-item" style="margin-bottom: 10px">
            <div style="display: inline">
              <div>
                <h4>
                  <a class="add-btn"
                     ui-sref="orders.edit({orderId: order._id})">
                    {{t.ORDER_NUM}}{{order.code}}
                  </a>
                  <span class="glyphicon glyphicon-ok"
                        ng-if="order.payed"
                        style="color: green">
                </span>
                </h4>
                <div class="pull-right"
                     ng-show="authentication.user._id == order.user._id || authentication.user.roles.includes('admin')">
                  <a ng-if="!order.payed" class="btn btn-success" ng-click="pay(true, order._id, true);">
                    <i class="glyphicon glyphicon-usd"></i>
                  </a>
                  <a class="btn btn-primary" ng-click="remove(order);">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                </div>
              </div>
            </div>
            <small>
              <p class="lead"><a class="add-btn" ui-sref="clients.edit({clientId: order.client._id})">{{t.CLIENT}}: {{order.client.firstName}} {{order.client.lastName}}, тел: {{order.client.phone}}</a></p>
              <em class="text-muted list-item-footer">
              <span>
                <b>{{t.ADDRESS}}: </b> {{order.place ? order.place.name : order.placeDescription}}
                <b>{{t.TOTAL}}: </b> {{order.total || 0}}{{currency}}
              </span>
                <span class="pull-right"><b>{{t.CREATED}}: </b> {{order.created | date: "dd-MM-yyyy HH:mm" }}</span>
              </em>
            </small>
          </div>
        </div>

        <div class="row" ng-show="ordersCount > itemsPerPage">
          <div class="col-md-8">
            <pagination boundary-links="true"
                        max-size="8"
                        items-per-page="itemsPerPage"
                        total-items="ordersCount"
                        ng-model="currentPage"
                        first-text="{{t.P_FIRST}}"
                        last-text="{{t.P_LAST}}"
                        previous-text="{{t.P_PREV}}"
                        next-text="{{t.P_NEXT}}"
                        style="display: inline"
                        ng-change="updateList()">
            </pagination>
          </div>
          <label style="padding-right: 15px; display: inline-block" class="pull-right">{{t.TOTAL_ORDERS_TO_SHOW}}: {{orders.length}} з {{ordersCount}}</label>
        </div>
      </div>
    </div>
  </div>
</section>
