<section ng-controller="GoodsController" ng-init="find()">
  <div class="page-header row">
    <div class="col-md-3">
      <h2>
        {{t.GOODS}}
        <a ui-sref="goods.create" class="add-btn">+</a>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="list-filters">
        <form class="form-horizontal">
          <!-- SEARCH -->
          <div class="form-group">
            <label for="search">{{t.SEARCH}}</label>
            <!--
            <label for="search" role="button" class="pull-right">Фільтри
                <span class="glyphicon glyphicon-filter"></span>
            </label>
            -->
            <input class="form-control col-md-4"
                   type="text"
                   id="search"
                   ng-model="search"
                   placeholder="{{t.SEARCH}}"
                   ng-change="figureOutItemsToDisplay()" />
          </div>
          <!-- GOOD TYPE -->
          <div class="form-group">
            <label for="orderType" class="list-select-filter">{{t.TYPE}}</label>
            <div>
              <div class="btn-group" role="group" aria-label="{{t.ORDER_TYPES}}">
                <button type="button"
                        id="orderType"
                        ng-repeat="type in goodTypes"
                        ng-class="{active: type.active}"
                        class="btn btn-default"
                        ng-click="onChangeType(type)">{{type.name}}
                </button>
              </div>
            </div>
          </div>

          <!-- GOOD OLD TYPE -->
          <div class="form-group">
            <label for="oldType" class="list-select-filter">{{t.GOOD_OLD_TYPES}}</label>
            <div>
              <div class="btn-group" role="group" aria-label="{{t.GOOD_OLD_TYPES}}">
                <button type="button"
                        id="oldType"
                        ng-repeat="type in oldTypes"
                        ng-class="{active: type.active}"
                        class="btn btn-default"
                        ng-click="onChangeOldType(type)">{{type.name}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  <div class="col-md-8">
    <div class="list-group">
      <div ng-repeat="good in pagedItems" class="list-group-item" style="margin-bottom: 10px" ng-class="{ 'item-left': good.count <= 20 }">
        <div>
          <h4>
            <a class="add-btn" ui-sref="goods.edit({goodId: good._id})">{{good.name}}</a>
          </h4>
        </div>
        <div class="pull-right"
             ng-show="authentication.user && (authentication.user._id == good.user._id || authentication.user.roles.includes('admin'))">
          <a class="btn btn-success" ng-click="add(good);">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
          <!--<a class="btn btn-primary" ng-click="remove(good);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>-->
        </div>
        <small ui-sref="goods.edit({goodId: good._id})">
          <p class="lead">{{t.ITEMS_LEFT}}: {{good.count}}</p>
          <em class="text-muted list-item-footer" style="font-size: 12px">
            <span>{{t.PRICE}}: {{good.price}} {{t.UAH}}</span>
            <span class="pull-right">{{t.ADDED}}: {{good.created | date: "dd-MM-yyyy HH:mm" }}</span>
          </em>
        </small>
      </div>
    </div>

    <div class="row" ng-show="goodsCount > itemsPerPage">
      <div class="col-md-12">
        <pagination boundary-links="true"
                    max-size="8"
                    items-per-page="itemsPerPage"
                    total-items="goodsCount"
                    ng-model="currentPage"
                    first-text="{{t.P_FIRST}}"
                    last-text="{{t.P_LAST}}"
                    previous-text="{{t.P_PREV}}"
                    next-text="{{t.P_NEXT}}"
                    ng-change="pageChanged()">
        </pagination>
      </div>
    </div>
  </div>
</section>
