<section ng-controller="GoodsController" ng-init="findOne()">
  <div class="page-header">
    <h3 ng-bind="good.name"></h3>
  </div>
  <div class="pull-right"
       ng-show="authentication.user._id == good.user._id || authentication.user.roles.includes('admin')">
    <a class="btn btn-primary" ui-sref="goods.edit({goodId: good._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <p class="lead" ng-bind="good.details"></p>
    <em class="text-muted">
      Добавлено
      <span ng-bind="good.created | date:'mediumDate'"></span>
      <span ng-bind="good.user.displayName"></span>
    </em>
  </small>
</section>
