<div class="modal-header">
  <h4 class="modal-title">{{confirmTitle}}</h4>
</div>
<div class="modal-body">
  <h3>{{confirmText}}</h3>
  <div ng-if="confirmValue">
    <input name="value"
           type="number"
           ng-model="state.value"
           id="value"
           min="1"
           step="1"
           class="form-control"
           placeholder="{{t.ENTER_COUNT}}">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{t.OK}}</button>
  <button class="btn btn-warning" ng-click="cancel()">{{t.CANCEL}}</button>
</div>
