<div class="modal-header">
  <h3 class="modal-title">{{confirmTitle}}</h3>
</div>
<div class="modal-body">
  <h3>{{confirmText}}</h3>
  <div ng-if="confirmValue">
    <input name="value"
           type="number"
           ng-model="state.value"
           id="value"
           min="1"
           step="1"
           class="form-control"
           placeholder="Введите колличество">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Да</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>