<section ng-controller="OrdersEditController" ng-init="findOne()">
  <div class="page-header" style="display: inline">
    <h3>
      {{title}}
      <span ng-if="order.payed" class="glyphicon glyphicon-ok" style="color: green"></span>
    </h3>
  </div>
  <div class="col-md-8">
    <form name="orderForm" class="form-horizontal" ng-submit="update(orderForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors ng-if="order._id">
          <label for="link">
            <a target="_blank" ng-href="{{order.link}}">{{t.LINK_TO_ORDER}}</a>
          </label>
          <input name="link"
                 ng-model="order.link"
                 id="link"
                 class="form-control"
                 readonly>
        </div>

        <div class="form-group" ng-if="!order._id">
          <label for="client">{{t.CLIENT_SELECT_CREATE}}</label>
          <div>
            <input type="text"
                   autocomplete="off"
                   id="client"
                   ng-model="order.client"
                   typeahead-editable="true"
                   ng-readonly="order._id"
                   placeholder="{{t.ENTER_KEY_FOR_SEARCH}}"
                   typeahead="client as client.name ? client.name : client.firstName + ' ' + client.phone for client in clients | filter:$viewValue"
                   class="form-control">
          </div>
        </div>

        <!--<div class="form-group">
          <label for="status">{{t.STATUS}}</label>
          <div>
            <select id="status"
                    class="form-control"
                    ng-model="order.status"
                    ng-options="status.value as status.name for status in statuses">
            </select>
          </div>
        </div> -->

        <div class="form-group" show-errors>
          <label for="name" ng-if="!order._id">{{t.P_NAME}} *</label>
          <label for="name" ng-if="order._id">
            <a ui-sref="clients.edit({ clientId: order.client._id })">{{t.EDIT_CLIENT}}</a>
          </label>
          <label class="pull-right" style="color: green" ng-if="order.client.active">
            {{t.ACTIVE}} <span class="glyphicon glyphicon-ok"></span>
          </label>
          <input name="name"
                 ng-model="order.client.firstName"
                 id="name"
                 class="form-control"
                 placeholder="{{t.P_NAME}}"
                 ng-readonly="order.client._id || order._id"
                 required>
          <div ng-messages="orderForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.SELECT_NAME}}</p>
          </div>
        </div>

        <!--<div class="form-group" show-errors>
          <label for="lastName">{{t.SURNAME}}</label>
          <input name="lastName"
                 ng-model="order.client.lastName"
                 id="lastName"
                 class="form-control"
                 placeholder="{{t.SURNAME}}"
                 ng-disabled="order.client._id || order._id">
        </div> -->

        <div class="form-group" show-errors>
          <label for="phone">{{t.PHONE}} *</label>
          <input name="phone"
                 ng-model="order.client.phone"
                 id="phone"
                 class="form-control"
                 placeholder="{{t.PHONE}}"
                 required>
          <div ng-messages="orderForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.PHONE}} {{t.REQUIRED}}</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="place">{{t.PLACE_DELIVER}}</label>
          <div>
            <input type="text"
                   autocomplete="off"
                   id="place"
                   name="place"
                   ng-model="order.place"
                   typeahead-editable="false"
                   typeahead="place as place.name for place in places | filter:$viewValue | limitTo:8"
                   class="form-control">
            </select>
          </div>
          <div ng-messages="orderForm.place.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.PLACE_DELIVER}} {{t.REQUIRED}}</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="placeDescription">{{t.ADDRESS}}</label>
          <textarea name="placeDescription"
                    ng-model="order.placeDescription"
                    id="placeDescription"
                    class="form-control"
                    cols="30" rows="5"
                    placeholder="{{t.ADDRESS}}">
          </textarea>
          <div ng-messages="orderForm.placeDescriptions.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.SELECT_PLACE}}</p>
          </div>
        </div>

        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <td class="col-md-5">{{t.NAME}}</td>
              <td class="col-md-1">{{t.LEFT}}</td>
              <td class="col-md-2">{{t.COUNT}}</td>
              <td class="col-md-2">{{t.TOTAL}}</td>
              <td class="col-md-2" ng-if="!order.payed"></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in order.items">
              <td class="col-md-5">
                <input ng-model="item.good"
                       typeahead-editable="true"
                       typeahead="good as good.name for good in calcArray(item.good) | filter:$viewValue"
                       class="form-control">
              </td>
              <td class="col-md-1">
                <input class="form-control"
                       ng-value="calculateLeft(item.good)"
                       readonly>
              </td>
              <td class="col-md-2">
                <input class="form-control"
                       type="number"
                       min="1"
                       max="good.count"
                       step="1"
                       ng-disabled="order.payed"
                       ng-model="item.count">
              </td>
              <td class="col-md-2">
                <label style="margin: 5px">{{calculate(item.good.price, item.count)}}</label>
              </td>
              <td class="col-md-2" ng-if="!order.payed">
                <button type="button"
                        class="btn btn-info"
                        ng-click="removeItem(item)"
                        ng-disabled="order.items.length < 2">
                  X
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="button"
                class="btn btn-info"
                ng-click="addItem()"
                ng-disabled="!calcArray().length"
                ng-if="!order.payed">
          {{t.ADD}}
        </button>

        <button type="button"
                class="btn btn-info"
                ng-show="!isSalesShown"
                ng-click="isSalesShown = true">
          {{t.ADD_SALES}}
        </button>

        <div class="form-group" collapse="!isSalesShown" show-errors style="margin-top: 20px">
          <label for="sale">{{t.SALE}}</label>
          <input name="sale"
                 type="number"
                 min="0"
                 step="0.01"
                 ng-model="order.sale"
                 id="sale"
                 class="form-control"
                 placeholder="{{t.SALE}}">
        </div>

        <div class="form-group" collapse="!isSalesShown" show-errors style="margin-top: 20px">
          <label for="credit">{{t.DEBT}}</label>
          <input name="credit"
                 type="number"
                 min="0"
                 step="0.01"
                 ng-model="order.credit"
                 id="credit"
                 class="form-control"
                 placeholder="{{t.DEBT}}">
        </div>

        <div class="form-group" collapse="!isSalesShown" show-errors style="margin-top: 20px">
          <label for="extra">{{t.ADDITIONAL}}</label>
          <input name="extra"
                 type="number"
                 max="100"
                 min="-100"
                 step="1"
                 ng-model="order.extra"
                 id="extra"
                 class="form-control"
                 placeholder="{{t.ADDITIONAL}}">
        </div>

        <div class="row">
          <h4>{{t.TOTAL_PRICE}} {{calculateTotal(order)}}</h4>
        </div>

        <div class="form-group">
          <input type="button"
                 class="btn btn-success save-btn pull-right"
                 ng-click="pay(orderForm.$valid, order)"
                 ng-if="!order.payed"
                 ng-disabled="disableSave()"
                 value="{{t.TO_PAY}}">
          <input type="submit"
                 class="btn btn-default save-btn pull-right"
                 ng-if="!order.payed"
                 ng-disabled="disableSave()"
                 value="{{t.SAVE}}">
          <input type="button"
                 class="btn btn-default save-btn pull-right"
                 ng-click="cancel()"
                 value="{{t.CANCEL}}">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
