<section ng-controller="OrdersController" ng-init="findOne()">
  <div class="page-header" style="display: inline">
    <h3>
      {{title}} <span ng-if="order.payed" class="glyphicon glyphicon-ok" style="color: green"></span>
    </h3>
  </div>
  <div class="col-md-8">
    <form name="orderForm" class="form-horizontal" ng-submit="update(orderForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors ng-if="order._id">
          <label for="link"><a target="_blank" ng-href="{{order.link}}">Ссылка на заказ</a></label>
          <input name="link"
                 type="text"
                 ng-model="order.link"
                 id="link"
                 class="form-control"
                 readonly>
        </div>

        <div class="form-group" ng-if="!order._id">
          <label for="name">Клиент (создать нового если не выбрано)</label>
          <div>
            <select id="name"
                    class="form-control"
                    ng-model="order.client"
                    ng-disabled="order._id"
                    ng-options="client.lastName + ' ' + client.phone for client in clients track by client._id">
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="status">Статус</label>
          <div>
            <select id="status"
                    class="form-control"
                    ng-model="order.status"
                    ng-options="status.value as status.name for status in statuses">
            </select>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="firstName">Имя *</label>
          <input name="firstName"
                 type="text"
                 ng-model="order.client.firstName"
                 id="firstName"
                 class="form-control"
                 placeholder="Имя"
                 ng-disabled="order.client._id || order._id"
                 required>
          <div ng-messages="orderForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите имя или выберите пользователя из списка</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="firstName">Фамилия</label>
          <input name="lastName"
                 type="text"
                 ng-model="order.client.lastName"
                 id="lastName"
                 class="form-control"
                 placeholder="Фамилия"
                 ng-disabled="order.client._id || order._id">
        </div>

        <div class="form-group" show-errors>
          <label for="phone">Телефон *</label>
          <input name="phone"
                 type="tel"
                 ng-model="order.client.phone"
                 id="phone"
                 class="form-control"
                 placeholder="Телефон"
                 ng-disabled="order.client._id || order._id"
                 required>
          <div ng-messages="orderForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите телефон</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="place">Место выдачи</label>
          <div>
            <select id="place"
                    name="phone"
                    class="form-control"
                    ng-model="order.place"
                    ng-disabled="order.placeDescription"
                    required
                    ng-options="place.name for place in places track by place._id">
            </select>
          </div>
          <div ng-messages="orderForm.place.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Выберите место выдачи</p>
          </div>
        </div>

        <div class="form-group" show-errors ng-if="!order.place._id">
          <label for="placeDescription">Адресс</label>
          <textarea name="placeDescription"
                    ng-model="order.placeDescription"
                    id="placeDescription"
                    class="form-control"
                    cols="30" rows="5"
                    ng-disabled="order.place"
                    required
                    placeholder="Описание">
          </textarea>
          <div ng-messages="orderForm.placeDescriptions.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите место выдачи или выберите из списка</p>
          </div>
        </div>

        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <td class="col-md-5">Название</td>
              <td class="col-md-1">Остаток</td>
              <td class="col-md-1">Колличество</td>
              <td class="col-md-2">Сумма</td>
              <td class="col-md-2" ng-if="!order.payed"></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in order.items">
              <td class="col-md-5">
                <input type="text"
                       ng-model="item.good"
                       typeahead-editable="true"
                       typeahead="good as good.name for good in calcArray(item.good) | filter:$viewValue"
                       class="form-control">
              </td>
              <td class="col-md-1">
                <input type="text"
                       class="form-control"
                       ng-value="calculateLeft(item.good)"
                       readonly>
              </td>
              <td class="col-md-1">
                <input class="form-control"
                       type="number"
                       min="1"
                       max="good.count"
                       step="1"
                       ng-disabled="order.payed"
                       ng-model="item.count">
              </td>
              <td class="col-md-2">
                <label style="margin: 5px">{{calculate(item.good.price, item.count)}}</label>
              </td>
              <td class="col-md-2" ng-if="!order.payed">
                <button type="button"
                        class="btn btn-info"
                        ng-click="removeItem(item)"
                        ng-disabled="order.items.length < 2">
                  X
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="button"
                class="btn btn-info"
                ng-click="addItem()"
                ng-disabled="!calcArray().length"
                ng-if="!order.payed">
          Добавить
        </button>

        <div class="form-group" show-errors style="margin-top: 20px">
          <label for="sale">Скидка</label>
          <input name="sale"
                 type="number"
                 min="0"
                 step="0.01"
                 ng-model="order.sale"
                 id="sale"
                 class="form-control"
                 placeholder="Скидка">
        </div>

        <div class="form-group" show-errors style="margin-top: 20px">
          <label for="credit">Долг</label>
          <input name="credit"
                 type="number"
                 min="0"
                 step="0.01"
                 ng-model="order.credit"
                 id="credit"
                 class="form-control"
                 placeholder="Долг">
        </div>

        <div class="row">
          <h4>Общая сумма: {{calculateTotal(order)}}</h4>
        </div>

        <div class="form-group">
          <input type="button"
                 class="btn btn-success save-btn pull-right"
                 ng-click="pay(orderForm.$valid, order)"
                 ng-if="!order.payed"
                 ng-disabled="disableSave()"
                 value="Оплатить">
          <input type="submit"
                 class="btn btn-default save-btn pull-right"
                 ng-if="!order.payed"
                 ng-disabled="disableSave()"
                 value="Сохранить">
          <input type="button"
                 class="btn btn-default save-btn pull-right"
                 ng-click="cancel()"
                 value="Назад">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
