<section ng-controller="OrdersController" ng-init="find()">
  <div class="page-header row">
    <div class="col-md-4">
      <h1>
        Заказы
        <a ui-sref="orders.create" class="add-btn">+</a>
      </h1>
    </div>
    <div class="col-md-4" style="margin-top: 2em">
      <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Поиск" ng-change="figureOutItemsToDisplay()" />
    </div>
  </div>
  <div class="list-group">
    <div ng-repeat="order in pagedItems" ui-sref="orders.edit({orderId: order._id})" class="list-group-item" style="margin-bottom: 10px">
      <div>
        <h4>Заказ #{{order.code}}</h4>
      </div>
      <div class="pull-right"
           ng-show="authentication.user._id == order.user._id || authentication.user.roles.includes('admin')">
        <a class="btn btn-primary" ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <small>
        <p class="lead">Клиент: {{order.client.firstName}} {{order.client.lastName}}, тел: {{order.client.phone}}</p>
        <em class="text-muted">
          <span>Сумма: {{calculateTotal(order)}}</span>
        </em>
      </small>
    </div>
  </div>

  <pagination boundary-links="true"
              max-size="8"
              items-per-page="itemsPerPage"
              total-items="filterLength"
              ng-model="currentPage"
              ng-change="pageChanged()">
  </pagination>
</section>
