<section ng-controller="OrdersController" ng-init="find()">
  <div class="page-header row">
    <div class="col-md-3">
      <h2>
        {{t.ORDERS}}
        <a ui-sref="orders.create" class="add-btn">+</a>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="list-filters">
        <form class="form-horizontal">
          <!-- SEARCH -->
          <div class="form-group">
            <label for="search">{{t.SEARCH}}</label>
            <label for="search" role="button" class="pull-right">Фільтри  <span class="glyphicon glyphicon-filter"></span> </label>
            <input class="form-control col-md-4"
                   type="text"
                   id="search"
                   ng-model="search"
                   placeholder="{{t.SEARCH}}"
                   ng-change="figureOutItemsToDisplay()" />
          </div>
          <!-- PLACE -->
          <div class="form-group">
            <label for="place" class="list-select-filter">{{t.PLACE_DELIVER}}</label>
            <input type="text"
                   id="place"
                   ng-model="selectedPlace"
                   typeahead-editable="true"
                   typeahead="place as place.name for place in places | filter:$viewValue"
                   class="form-control">
          </div>
          <!-- STATUS -->
          <div class="form-group">
            <label for="type" class="list-select-filter">{{t.ORDER_STATUS}}</label>
            <div>
              <select id="type"
                      class="form-control"
                      ng-model="selectedStatus"
                      ng-options="status.name for status in listStatuses">
              </select>
            </div>
          </div>
          <!-- PAYMENT TYPE -->
          <div class="form-group">
            <label for="orderType" class="list-select-filter">Стан замовлення</label>
            <div>
              <div class="btn-group" role="group" aria-label="{{t.ORDER_TYPES}}">
                <button type="button"
                        id="orderType"
                        ng-repeat="type in orderTypes"
                        ng-class="{active: type.active}"
                        class="btn btn-default"
                        ng-click="changeType(type)">{{type.name}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <div class="list-group" style="margin-top: 25px">
        <div ng-repeat="order in pagedItems" class="list-group-item" style="margin-bottom: 10px">
          <div style="display: inline">
            <div>
              <h4>
                <a class="add-btn"
                   ui-sref="orders.edit({orderId: order._id})">
                  {{t.ORDER_NUM}}{{order.code}}
                </a>
                <span class="glyphicon glyphicon-ok"
                      ng-if="order.payed"
                      style="color: green">
                </span>
              </h4>
              <div class="pull-right"
                   ng-show="authentication.user._id == order.user._id || authentication.user.roles.includes('admin')">
                <a ng-if="!order.payed" class="btn btn-success" ng-click="pay(true, order._id, true);">
                  <i class="glyphicon glyphicon-usd"></i>
                </a>
                <a class="btn btn-primary" ng-click="remove(order);">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </div>
            </div>
          </div>
          <small ui-sref="orders.edit({orderId: order._id})">
            <p class="lead">{{t.CLIENT}}: {{order.client.firstName}} {{order.client.lastName}}, тел: {{order.client.phone}}</p>
            <em class="text-muted list-item-footer">
              <span>
                <b>{{t.ADDRESS}}: </b> {{order.place ? order.place.name : order.placeDescription}}
                <b>{{t.TOTAL}}: </b> {{order.total || 0}}{{currency}}
              </span>
              <span class="pull-right"><b>{{t.CREATED}}: </b> {{order.created | date: "dd-MM-yyyy HH:mm" }}</span>
            </em>
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8" ng-show="ordersCount > itemsPerPage">
          <pagination boundary-links="true"
                      max-size="8"
                      items-per-page="itemsPerPage"
                      total-items="ordersCount"
                      ng-model="currentPage"
                      first-text="{{t.P_FIRST}}"
                      last-text="{{t.P_LAST}}"
                      previous-text="{{t.P_PREV}}"
                      next-text="{{t.P_NEXT}}"
                      style="display: inline"
                      ng-change="pageChanged()">
          </pagination>
        </div>
        <label style="padding-right: 15px; display: inline-block" class="pull-right">{{t.TOTAL_ORDERS}}: {{ordersCount}}</label>
      </div>
    </div>
  </div>
</section>
