<section ng-controller="OrdersController" ng-init="find()">
  <div class="page-header row">
    <div class="col-md-2">
      <h1>
        {{t.ORDERS}}
        <a ui-sref="orders.create" class="add-btn">+</a>
      </h1>
    </div>
    <div class="col-md-3" style="margin-top: 2em">
      <input class="form-control col-md-4"
             type="text"
             ng-model="search"
             placeholder="{{t.SEARCH}}"
             ng-change="figureOutItemsToDisplay()" />
    </div>
    <div class="col-md-3" style="margin-top: 2em">
      <div class="btn-group" role="group" aria-label="{{t.ORDER_TYPES}}">
        <button type="button"
                ng-repeat="type in orderTypes"
                ng-class="{active: type.active}"
                class="btn btn-default"
                ng-click="changeType(type)">{{type.name}}
        </button>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="type" class="list-select-filter">{{t.ORDER_STATUS}}</label>
        <div>
          <select id="type"
                  class="form-control"
                  ng-model="selectedStatus"
                  ng-options="status.name for status in listStatuses">
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="place" class="list-select-filter">{{t.PLACE_DELIVER}}</label>
        <div>
          <input type="text"
                 id="place"
                 ng-model="selectedPlace"
                 typeahead-editable="true"
                 typeahead="place as place.name for place in places | filter:$viewValue | limitTo:8"
                 class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="list-group">
    <div ng-repeat="order in pagedItems" class="list-group-item" style="margin-bottom: 10px">
      <div style="display: inline">
        <div>
          <h4>
            <a class="add-btn"
               ui-sref="orders.edit({orderId: order._id})">
              {{t.ORDER_NUM}}{{order.code}}
            </a>
            <span class="glyphicon glyphicon-ok"
                  ng-if="order.payed"
                  style="color: green">
            </span>
          </h4>
        </div>
      </div>
      <div class="pull-right"
           ng-show="authentication.user._id == order.user._id || authentication.user.roles.includes('admin')">
        <a class="btn btn-success" ng-click="pay(true, order, true);">
          <i class="glyphicon glyphicon-usd"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove(order);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <small ui-sref="orders.edit({orderId: order._id})">
        <p class="lead">{{t.CLIENT_LAB}}{{order.client.firstName}} {{order.client.lastName}}, {{order.client.phone}}</p>
        <em class="text-muted">
          <span>{{t.ADDRESS}}: {{order.place ? order.place.name : order.placeDescription}}</span>
          <span>{{t.TOTAL}}: {{calculateTotal(order)}}</span>
        </em>
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <pagination boundary-links="true"
                  max-size="8"
                  items-per-page="itemsPerPage"
                  total-items="ordersCount"
                  ng-model="currentPage"
                  first-text="Начало"
                  last-text="Конец"
                  previous-text="Пред."
                  next-text="След."
                  ng-change="pageChanged()">
      </pagination>
    </div>
  </div>
</section>
