<section ng-controller="OrdersController" ng-init="findOne()">
  <div class="col-md-6">
    <div class="page-header">
      <h3>Замовлення #{{order.code}}</h3>
      <h5>Додано: {{order.created | date:'mediumDate'}}</h5>
      <h5>Клієнт: {{order.client.firstName}}</h5>
      <h5>Телефон: {{getPhoneForPreview()}}</h5>
      <h5>Місце видачі: {{order.place ? order.place.name + ' (' + order.place.address + ')' : order.placeDescription}}</h5>
      <h5>Статус:
        <span style="color: {{order.payed ? 'green' : 'red'}}">
          {{order.payed ? t.IS_PAYED : t.IS_NOT_PAYED}}
        </span>
      </h5>
    </div>
    <h5>{{t.GOODS_LIST}}</h5>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <td>{{t.GOOD}}</td>
          <td>{{t.COUNT}}</td>
          <td>{{t.PRICE}}</td>
          <td>{{t.TOTAL}}</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in order.items">
          <td>{{item.good.name}}</td>
          <td>{{item.count}}</td>
          <td>{{item.good.price}} {{t.UAH}}</td>
          <td>{{calculate(item.good.price, item.count)}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-responsive" ng-if="order.sale || order.credit">
      <thead>
        <tr ng-if="order.sale">
          <td colspan="4">{{t.SALE}}</td>
          <td>{{order.sale}} {{currency}}</td>
        </tr>
        <tr ng-if="order.credit">
          <td colspan="4">{{t.DEBT}}</td>
          <td>{{order.credit}} {{currency}}</td>
        </tr>
      </thead>
    </table>
    <h4>
      {{t.TOTAL_PAY}}{{calculateTotal(order)}}</h4>
  </div>
</section>
