<section ng-controller="OrdersController" ng-init="findOne()">
  <div class="col-md-6">
    <div class="page-header">
      <h3>Заказ #{{order.code}}</h3>
      <h5>Добавлен: {{order.created | date:'mediumDate'}}</h5>
      <h5>Клиент: {{order.client.firstName}}</h5>
      <h5>Телефон: {{order.client.phone}}</h5>
      <h5>Место выдачи: {{order.place ? order.place.name + ' (' + order.place.address + ')' : order.placeDescription}}</h5>
      <h5>Статус:
        <span style="color: {{order.payed ? 'green': 'red'}}">
          {{order.payed ? 'Оплачен' : 'Не оплачен'}}
        </span>
      </h5>
    </div>
    <h5> Список товаров:</h5>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <td>Товар</td>
          <td>Колличество</td>
          <td>Цена</td>
          <td>Сумма</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in order.items">
          <td>{{item.good.name}}</td>
          <td>{{item.count}}</td>
          <td>{{item.good.price}} UAH</td>
          <td>{{item.count * item.good.price}} UAH</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-responsive" ng-if="order.sale || order.credit">
      <thead>
        <tr ng-if="order.sale">
          <td colspan="4">Скидка</td>
          <td>{{order.sale}} {{currency}}</td>
        </tr>
        <tr ng-if="order.credit">
          <td colspan="4">Долг</td>
          <td>{{order.credit}} {{currency}}</td>
        </tr>
      </thead>
    </table>
    <h4>
      К оплате: {{calculateTotal(order)}}</h4>
  </div>
</section>
