<section ng-controller="ClientsEditController" ng-init="findOne()">
  <div class="page-header">
    <h3>{{title}}</h3>
  </div>
  <div class="col-md-8">
    <form name="articleForm" class="form-horizontal" ng-submit="update(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">{{t.P_NAME}} *</label>
          <label class="pull-right" style="color: green" ng-if="client.active">
            {{t.ACTIVE}} <span class="glyphicon glyphicon-ok"></span>
          </label>
          <input name="name"
                 type="text"
                 ng-model="client.firstName"
                 id="name"
                 class="form-control"
                 placeholder="{{t.P_NAME}}"
                 required>
          <div ng-messages="articleForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.P_NAME}} {{t.REQUIRED}}</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="phone">{{t.PHONE}} *</label>
          <input name="phone"
                 ng-model="client.phone"
                 id="phone"
                 class="form-control"
                 placeholder="{{t.PHONE}}"
                 ng-pattern="telRegexp"
                 required>
          <div ng-messages="articleForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{t.PHONE}} {{t.REQUIRED}}</p>
            <p class="help-block error-text" ng-message="pattern">Телефон має бути заповнений в форматі +380ХХХХХХХХХ</p>
          </div>
        </div>

        <div class="form-group">
          <label for="comments">{{t.COMMENTS}}</label>
          <textarea name="comments"
                    ng-model="client.comments"
                    id="comments"
                    class="form-control"
                    cols="30" rows="5"
                    placeholder="{{t.COMMENTS}}">
          </textarea>
        </div>

        <div class="form-group">
          <label for="place">{{t.PLACE_DELIVER_DEFAULT}}</label>
          <div>
            <input type="text"
                   autocomplete="off"
                   id="place"
                   name="place"
                   ng-model="client.defaultPlace"
                   typeahead-editable="false"
                   typeahead="place as place.name for place in places | filter:$viewValue | limitTo:8"
                   class="form-control">
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group">
            <input type="submit" class="btn btn-default save-btn pull-right" value="{{t.SAVE}}">
            <input type="button" class="btn btn-default save-btn pull-right" ng-click="cancel()" value="{{t.CANCEL}}">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="page-header" ng-show="orders.length">
        <h4>Список замовлень <a ui-sref="orders.create({clientId: client._id})" class="add-btn pull-right">Додати</a></h4>
      </div>
      <div class="list-group">
        <div ng-repeat="order in orders"
             class="list-group-item"
             ng-class="{'item-payed': order.payed && order.status !== 'send', 'item-send': order.status === 'sent'}">
          <div style="display: inline">
            <div>
              <h6>
                <a class="add-btn"
                   ui-sref="orders.edit({orderId: order._id})">
                  {{t.ORDER_NUM}}{{order.code}}
                </a>
                <span class="pull-right"
                      ng-if="order.payed && order.status !== 'sent'"
                      style="color: green">
                  Сплачено
                </span>
                <span class="pull-right"
                      ng-if="order.status === 'sent'"
                      style="color: blue">
                  Відправлено
                </span>
              </h6>
              <div class="pull-right">
                <a ng-if="!order.payed" class="btn btn-success" ng-click="pay(order);">
                  <i class="glyphicon glyphicon-usd"></i>
                </a>
                <a ng-if="order.payed && order.status !== 'sent'" class="btn btn-primary" ng-click="send(order);">
                  <i class="glyphicon glyphicon-send"></i>
                </a>
                <a ng-if="!order.payed" class="btn btn-primary" ng-click="remove(order);">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </div>
            </div>
          </div>
          <small ui-sref="orders.edit({orderId: order._id})">
            <p ng-repeat="item in order.items">{{item.good.name}}, {{item.count}}мл</p>
            <em class="text-muted list-item-footer">
              <span style="font-size: 12px">
                <!-- <b>{{t.ADDRESS}}: </b> {{order.place ? order.place.name : order.placeDescription}} -->
                <b>{{t.TOTAL}}: </b> {{order.total || 0}}грн
                <b>{{t.CREATED}}: </b> {{order.created | date: "dd-MM-yyyy HH:mm" }}
              </span>
            </em>
          </small>
        </div>
      </div>

      <div class="row" ng-show="ordersCount > itemsPerPage" style="margin-bottom: 10px">
        <div class="col-md-8">
          <pagination boundary-links="true"
                      max-size="8"
                      items-per-page="itemsPerPage"
                      total-items="ordersCount"
                      ng-model="currentPage"
                      first-text="{{t.P_FIRST}}"
                      last-text="{{t.P_LAST}}"
                      previous-text="{{t.P_PREV}}"
                      next-text="{{t.P_NEXT}}"
                      style="display: inline"
                      ng-change="updateList()">
          </pagination>
        </div>
        <label style="padding-right: 15px; display: inline-block" class="pull-right">{{t.TOTAL_ORDERS_TO_SHOW}}: {{orders.length}} з {{ordersCount}}</label>
      </div>
    </div>
  </div>
</section>
