.content {
  margin-top: 50px;
}

.content-footer {
  min-height: calc(100vh - 67px);
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.save-btn {
  margin-top: 10px;
  margin-right: 15px;
}

.add-btn {
  text-decoration: none;
  color: black;
}

.add-btn:hover {
  color: dodgerblue;
  text-decoration: none;
}

.list-item-footer {
  font-size: 10px;
}

.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-filters {
  padding: 0 15px 0 15px;
}

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 64px; font-size: 64px; line-height: 64px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }

.footer {
  height: 17px;
  text-align: center;
}

.footer-version {
  color: #333;
  font-weight: bold;
  font-size: 12px;
  font-family: Calibri;
}

.item-payed {
  background: yellow;
}

.item-send {
  background: lightgreen;
}

.item-left {
  background: #ff9700;
}
